repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.10
    hooks:
      - id: ruff
        args: ["--select", "A,B,C,D,E,F,I,N,Q,R,S,T,W"]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
